<h1>This is the Edit Figure Page!</h1>
<h2>Current Figure: <%=@figure.name%></h2>

<form method="POST" action="/figures/<%=@figure.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<h4>Figure Name:</h4> <input type="text" name="figure[name]" id="figure_name">
<h4>Figure Titles:</h4>
<% Title.all.each do |title| %>
<input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>" <%='checked' if @figure.titles.include?(title) %>> <%=title.name%></input>
<%end%>
<br></br>
<h4>Figure Landmarks:</h4>
<% Landmark.all.each do |landmark| %>
<input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %>> <%=landmark.name%></input>
<%end%>
<br></br>
<h4>And/or Create a New Landmark:</h4>
Landmark Name: <input type="text" name="landmark[name]" id="new_landmark">
<h4>And/or Create a New Title:</h4>
Title Name: <input type="text" name="title[name]" id="new_title">
<br></br>
<input type="submit" name="Edit Figure" value="Edit Figure">
</form>
