<h1>This is the New Figure Page!</h1>

<form method="POST" action="/figures">
<h4>Figure Name:</h4> <input type="text" name="figure[name]" id="figure_name">
<h4>Figure Titles:</h4>
<% Title.all.each do |title| %>
<input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
<%end%>
<br></br>
<h4>Figure Landmarks:</h4>
<% Landmark.all.each do |landmark| %>
<input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
<%end%>
<br></br>
<h4>And/or Create a New Landmark:</h4>
Landmark Name: <input type="text" name="landmark[name]" id="new_landmark">
<h4>And/or Create a New Title:</h4>
Title Name: <input type="text" name="title[name]" id="new_title">
<br></br>
<input type="submit" name="Create New Figure" value="Create New Figure">
</form>
